html {
    background: url(images/plate2.jpg) no-repeat center fixed;
    background-size: cover;
    align-content: flex-end;
    outline: 5px solid green;
}

/* Responsive updates soon */

.navbar {
    min-height: 80px;
}


.center {
    margin: -55px -62px;

}

.navbar-brand {
    padding: 0 20px;
    height: 25px;
    line-height: 40px;
}


.dropdown-item {
    color: #4FC449
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


img {
    margin-top: -25px;
    margin-bottom: -15px;
    padding: -10px -15px;

}

@-webkit-keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
}



.mantra {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
    color: rgba(46, 139, 41, 0.9);
}

h4 {
    font-family: 'Special Elite', cursive;
}


.buttonup {
    display: block;
    margin-bottom: 40px;
}

.btn {
    margin-bottom: 10px;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px;
    font-family: 'Montserrat', sans-serif;
}

.btn-xl {
    padding: 1rem 2rem;
}